<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="server.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bahay Sulyap Suites | Home</title>
        <script src="server.js"></script>
    </head>
    <body>
        <!-- Nav -->
        <nav>
            <img src="/img/btn/4.png" alt="">
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="">Contatct</a></li>
            </ul>
        </nav>

        <!-- Hero -->
        <section id="hero-about">
            <div class="text-about">
                <div class="background-opacity">
                    <h1>About Us</h1>
                    <h2>Welcome to Bahay Sulyap, 
                        where luxury meets nature's embrace. 
                        Nestled amidst lush, towering trees, 
                        our haven is a retreat like no other. 
                        Perched on the heights, we offer a 
                        breathtaking panorama that captivates 
                        your senses. At Bahay Sulyap, 
                        we believe in blending opulence with the 
                        tranquility of nature, creating an unparalleled escape.
                    </h2>
                </div>
            </div>
        </section>
    </body>
</html>