<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bahay Sulyap Suites | Home</title>
        <link rel="stylesheet" href="/style.css">
        <script src="server.js"></script>
    </head>
    <body>
        <!-- Nav -->
        <nav>
            <img src="/img/btn/4.png" alt="">
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="">Contatct</a></li>
            </ul>
        </nav>
        <!-- Hero -->
        <section id="hero">
            <div class="text">
                <h1>BOOK YOUR JOURNEY WITH US</h1>
                <a href=""><img src="/img/btn/2.png" alt=""></a>
            </div>
        </section>
        <!-- Rooms -->
        <section id="room">
            <h1>Check Our Best Room</h1>
            <div class="room-1">
                <img src="/img/showcase1.jpg" alt="">
                <div class="amenities-1">
                    <h2>Tree House</h2>
                    <h4>Amenities:</h4>
                    <ul>
                        <li><span>Queen size bed</span></li>
                        <li><span>Airconditioner</span></li>
                        <li><span>Heater</span></li>
                        <li><span>Sink & Bathroom</span></li>
                        <li><span>Refigerator</span></li>
                        <li><span>Utensils</span></li>
                    </ul>
                </div>
            </div>
            <div class="room-2">
                <div class="amenities-2">
                    <h2>Tree House</h2>
                    <h4>Amenities:</h4>
                    <ul>
                        <li><span>Queen size bed</span></li>
                        <li><span>Airconditioner</span></li>
                        <li><span>Heater</span></li>
                        <li><span>Sink & Bathroom</span></li>
                        <li><span>Refigerator</span></li>
                        <li><span>Utensils</span></li>
                    </ul>
                </div>
                <img src="/img/showcase2.jpg" alt="">
            </div>
        </section>
    </body>
</html>